@font-face {
    font-family: HelveticaNeue;
    src: url('fonts/helveticaneuecyr-light.otf');
}

@font-face {
    font-family: GothamPro;
    src: url('fonts/GothamPro.otf');
}

@font-face {
    font-family: HelveticaRounded;
    src: url('fonts/HelveticaRoundedLTStdBd.otf');
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url('fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url('fonts/HelveticaNeue-Bold.ttf');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url('fonts/HelveticaNeue Light.ttf');
}

html, body, p, h1 {
    margin: 0;
    padding: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

header {
    width: 100%;
    height: auto;
    background: url(img/invalid-name@3x.png) no-repeat;
    background-size: 100% 120%;
}

.header-top {
    height: 54px;
    padding-top: 15px;
}

.GB {
    width: 58px;
    height: 34px;
    font-family: GothamPro;
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin-left: 55px;
    line-height: 34px;
    display: inline-block;
    padding-top: 3px;
    cursor: pointer;
}

.fa-bars-custom {
    color: #ffffff;
    display: none;
}

.top-right-menu {
    display: inline-block;
    float: right;
    height: 54px;
    margin-right: 55px;
    padding-right: 15px;
    text-align: right;
    width: auto;
}

.top-right-menu p, .top-right-menu div {
    display: inline-block;
    float: left;
    cursor: pointer;
}

.top-right-menu p {
    margin-right: 44px;
    padding-top: 11px;
}

.top-right-menu div {
    margin-right: 10px;
}

.Learn {
    width: 36px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}

.Projects {
    width: 52px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}

.Forums {
    width: 48px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}

.email::-webkit-input-placeholder {
    font-family: HelveticaNeue;
    padding-left: 23px;
    color: #ffffff;
}

.email::-moz-placeholder {
    font-family: HelveticaNeue;
    padding-left: 23px;
    color: #ffffff;
}

.email:-ms-input-placeholder {
    font-family: HelveticaNeue;
    padding-left: 23px;
    color: #ffffff;
}

.email:-moz-placeholder {
    font-family: HelveticaNeue;
    padding-left: 23px;
    color: #ffffff;
}

.send-button {
    display: none;
}

.Register-Button {
    width: 133px;
    height: 39px;
    object-fit: contain;
}

.Register-Button-Copy {
    width: 178px;
    height: 39px;
    object-fit: contain;
    position: relative;
}

.Oval-9 {
    width: 41px;
    height: 41px;
    border: 1px solid #ffffff;
    float: right;
    position: absolute;
    margin-left: 147px;
    border-radius: 100%;
    margin-right: 0;
}

.header-text {
    width: 100%;
    margin: 234px auto 100px auto;
    display: inline-block;
    height: auto;
}

.Connecting-patients {
    font-family: HelveticaNeue-Light;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.header-text-cont {
    width: 70%;
    margin-left: 15%;
}

.GB---the-novel-block {
    font-family: HelveticaNeue-Light;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48.9px;
}

.Be-part-of-the-innov {
    width: auto;
    height: auto;
    font-family: HelveticaNeue-Medium;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-bottom: 15px;
}

.register-button-bottom {
    width: 100%;
    height: 132px;
    background-color: #1badf0;
    padding-left: 4.6%;
    padding-top: 44px;
    display: none;
}

.register-button-bottom button {
    width: 44%;
    height: 43px;
    border-radius: 50px;
    margin-right: 2.9%;
    background-color: #ffffff;
    border: 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    color: #363c44;
}

.header-text > .Rectangle-17 {
    width: 401px;
    height: 50px;
    border-radius: 100px;
    margin: 0 auto;
}

.Rectangle-email {
    border: solid 1px #ffffff;
    margin-left: 242px;
    position: relative;
}

.email {
    position: absolute;
    width: 50%;
    height: inherit;
    border: 0;
    border-radius: inherit;
    background-color: inherit;
    color: black;
    font-size: 20px;
}

.Rectangle-email > img {
    position: absolute;
    right: 1.2%;
    top: 10%;
}

.Get-Started {
    width: 168px;
    height: 40px;
    object-fit: contain;
}

/* End Header*/
/* Strart Article */
/* Page-1 */

.Page-1 {
    background-image: url(img/page-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}

.Communication-betwee {
    width: 100%;
    height: 93px;
    font-family: HelveticaNeue-Bold;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-align: center;
    margin-top: 84px;
}

.Communication-betwee p {
    width: 36%;
    margin-left: 32%;
}

.Billions-of-patients {
    width: 100%;
    height: 84px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 52px;
}

.Billions-of-patients p {
    width: 34.4%;
    margin-left: 32.2%;
}

/* Page-1 End */
/* Page-2 Start */
.Page-2 {
    height: auto;
    background-image: url(img/group-9@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 8%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.Patients-Need-to {
    width: 258px;
    height: 131px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.Clinics-The-lack {
    width: 258px;
    height: 135px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.Doctors-No-immedia {
    width: 258px;
    height: 89px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.Researches-No-imm {
    width: 280px;
    height: 90px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.Insurers-and-HMOs- {
    width: 280px;
    height: 183px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}

.Lead-generators-Lo {
    width: 280px;
    height: 183px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 55px;
}

.page-2-paragraph {
    display: inline-table;
    margin-left: 8%;
    margin-top: 60px;
}

/* Page-2 End */
/* Page-3 Start */
.Page-3 {
    background-image: url("img/about-copy.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.The-Solution {
    font-family: HelveticaNeue-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding: 64px 0 32px;
    display: inline-block;
}

.Blockchain-powered-e {
    width: 426px;
    height: 553px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    margin-left: 70px;
    margin-right: 115px;
}

.Blockchain-powered-e p {
    padding-bottom: 30px;
}

.Blockchain-powered-text {
    display: inline-block;
    opacity: 0;
}

.Group-16 {
    width: 562px;
    height: 561px;
    object-fit: contain;
    vertical-align: unset;
    padding-top: 60px;
}

.page-3_paragraph_2 {
    position: relative;
    display: inline-block;
    margin-bottom: 47px;
    width: 562px;
    text-align: center;
}

.Patients-use-health {
    width: 128px;
    height: 56px;
    font-family: HelveticaNeue;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    left: 244px;
}

.Patients-instantly-s {
    width: 106px;
    height: 84px;
    font-family: HelveticaNeue;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    left: 490px;
    top: 200px;
}

.Clinics-smoothly-exc {
    width: 120px;
    height: 70px;
    font-family: HelveticaNeue;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    top: 81%;
    left: 410px;
}

.Insurance-companies {
    width: 142px;
    height: 84px;
    font-family: HelveticaNeue;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    top: 82%;
    left: 55px;
}

.Researches-and-pharm {
    width: 106px;
    height: 160px;
    font-family: HelveticaNeue;
    font-size: 12px;
    text-align: left;
    color: #ffffff;
    top: 35%;
    left: -10px;
}

.page-3_paragraph_2-text {
    position: absolute;
}

.page-3-par-2-big-text {
    opacity: 0;
}

.Medical-Apps-IoT-Copy {
    width: 142px;
    height: 30px;
    font-family: HelveticaRounded;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 141px;
    left: 97px;
}

.Patients-Copy {
    width: 49px;
    height: 15px;
    font-family: HelveticaRounded;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 27%;
    left: 376px;
}

.Doctors-Clinics-Hos-Copy {
    width: 93px;
    height: 30px;
    font-family: HelveticaRounded;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 64%;
    left: 417px;
}

.HMO-Insurance-comp-Copy {
    width: 104px;
    height: 30px;
    font-family: HelveticaRounded;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 89%;
    left: 232px;
}

.Pharma-companies-Res-Copy {
    width: 115px;
    height: 45px;
    font-family: HelveticaRounded;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 63%;
    left: 47px;
}

.Blockchain {
    width: 75px;
    height: 16px;
    font-family: HelveticaRounded;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 67%;
    left: 248px;
}

.Medical-data-lake {
    width: 93px;
    height: 32px;
    font-family: HelveticaRounded;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    top: 43%;
    left: 236px;
}

/* Page-3 End */
/* Page-4 Start */
.Page-4 {
    background-color: #f5f5f5;
    height: 590px;
}

.Page-4 > div {
    display: inline-block;
    width: 50%;
    float: left;
}

.page-4-paragraph-1, .page-4-paragraph-2 {
    height: auto;

}

.How-GB-changes-the-m {
    width: 307px;
    font-family: HelveticaNeue-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #4a90e2;
    margin: 63px 0 27px 11%;
}

.page-4-paragraph-1-button-full {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin-left: 11%;
    margin-bottom: 5.3%;
    overflow: hidden;
    width: 310px;
    height: 48px;
    object-fit: contain;
    border-radius: 24px;
    border: solid 2px #288cfd;
}

.page-4-paragraph-1-button-left {
    float: left;
    display: inline-block;
    width: 165px;
    height: 48px;
    object-fit: contain;
    border-radius: 24px;
    margin-top: -2px;
    background-image: linear-gradient(to left, #2977fc, #27bbff);
}

.page-4-paragraph-1-button-right {
    float: left;
    margin-top: -2px;
    display: inline-block;
    width: 141px;
    height: 48px;
    text-align: center;
}

.Before {
    width: 77px;
    height: 48px;
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    line-height: 48px;
}

.After {
    width: 56px;
    height: 48px;
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #298efe;
    margin: 0 auto;
    line-height: 48px;
}

.-Patients-call-the {
    width: 449px;
    height: 285px;
    font-family: HelveticaNeue;
    font-size: 18px;
    text-align: left;
    color: #000000;
    margin-left: 11%;
    display: block;
    float: left;
}

.page-4-paragraph-2 {
    position: relative;
    margin-bottom: 105px;
}

.Group-7 {
    width: 479px;
    height: 346px;
    object-fit: contain;
    margin: 139px 0 0 0;
}

.Clinics {
    width: 44px;
    height: 17px;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #a6a6a6;
    top: 69%;
    left: 1%;
}

.Patients {
    width: 53px;
    height: 17px;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #a6a6a6;
    top: 69%;
    left: 63%;
}

.page-4-paragraph-2 p {
    position: absolute;
}

.MIS {
    width: 26px;
    height: 17px;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #a6a6a6;
    top: 100%;
    left: 16%;
}

.Lead-generators-med {
    width: 223px;
    height: 51px;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #a6a6a6;
    top: 100%;
    left: 35%;
}

/* Page 4 End */
/* Page 5 Start */
.Page-5 {
    height: 673px;
    background-color: #1d416a;
}

.Roadmap {
    width: 166px;
    font-family: HelveticaNeue-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding: 64px 0 0 70px;
}

.roadmap-text {
    width: 145px;
    height: 102px;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    opacity: 0;
}

.roadmap-date {
    font-family: HelveticaNeue-Medium;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #27bbff;
}

.roadmap-price {
    font-family: HelveticaNeue-Medium;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #2a81bd;
}

.roadmap-graphic {
    position: relative;
    margin-top: 243px;
}

.RM-circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #1f6595;
    display: inline-block;
    margin-left: 80px;
    background-color: #003f66;
}

.RM-line {
    width: 85px;
    height: 3px;
    background-color: #1f6595;
    display: inline-block;
    position: absolute;
    top: 12.5px;
    margin-left: -5px;
}

.RM-line-vertical {
    width: 3px;
    height: 25px;
    background-color: #1f6595;
    display: inline-block;
    position: absolute;
    margin: -22px -19px;
}

.RM-line-vertical:nth-child(even) {
    margin: 26px -21px;
}

.RM-line-vertical-3 {
    height: 10px;
    top: 16px;
}

.RM-line-vertical-5 {
    height: 55px;
    top: -29px;
}

.RM-line-vertical-7 {
    height: 35px;
    top: -13px;
}

.RM-line-vertical-9 {
    height: 65px;
    top: -39px;
}

.Seed-1M {
    top: 70px;
    left: 5%;
}

.Follow-up-500K {
    top: 300px;
    left: 12%;
}

.Growing-Break-even {
    top: 70px;
    left: 20%;
}

.The-integration-year {
    top: 300px;
    left: 30%;
}

.Pre-ICO-500K {
    top: 70px;
    left: 38%;
}

.ICO-14M {
    top: 300px;
    left: 46%;
}

.ICO-35M {
    top: 70px;
    left: 53%;
}

.ICO-6M {
    top: 300px;
    left: 63%;
}

.ICO-10M {
    top: 70px;
    left: 70%;
}

/* Page-5 End */
/* Page-6 Start */
.Page-6 {
    background-color: #f5f5f5;
    height: auto;
}

.Team-members {
    font-family: HelveticaNeue-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding: 63px 0 0 70px;
}

.-staff {
    font-family: HelveticaNeue-Bold;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #9b9b9b;
    padding-left: 70px;
    padding-top: 34px;
}

article.container {
    float: left;
}

.container-crewman {
    width: 100%;
    height: auto;
    padding-left: 30px;
}

.crewman-full {
    width: 320px;
    height: 120px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 34px;
}

.crewman-img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-image: url("img/s5aGuyXJiDL5_leonardo-da-vinchi.jpg");
    background-size: cover;
    display: inline-block;
    float: left;

}

.crewman-fullName {
    font-family: HelveticaNeue-Bold;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.crewman-position {
    font-family: HelveticaNeue-Bold;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #9b9b9b;
}

.data-crewman {
    width: 200px;
    display: inline-block;
    margin-top: 20px;
}

/* Page-6 End */

/* Media Query */

@media only screen and (max-width: 1200px) {
    .Connecting-patients {
        font-size: 35px;
    }

    .header-text {
        width: 80%;
        margin-left: 10%;
    }

    .header-text p {
        width: auto;
    }

    .GB---the-novel-block {
        font-size: 18px;
    }

    .Communication-betwee {
        font-size: 23px;
    }

    .Billions-of-patients {
        margin-top: 0;
        font-size: 16px;
    }

    .Blockchain-powered-e {
        width: 80%;
        text-align: center;
        margin: 0 10%;
    }

    .Blockchain-powered-e ul {
        width: 34%;
        margin-left: 33%;
    }

    .page-3_paragraph_2 {
        margin-top: 50px;

    }

    .page-3_paragraph_2 p {
        font-size: calc(100% - 3px);
    }

    .Page-4 {
        height: 1050px;
    }

    .page-4-paragraph-1-button-full {
        margin-left: 34%;
    }

    .Page-4 > div {
        width: 100%;
    }

    .Group-7 {
        width: 50%;
        margin: 0 25%;
    }

    .Clinics {
        top: 57%;
        left: 25%;
    }

    .Patients {
        top: 58%;
        left: 68%;
    }

    .MIS {
        top: 100%;
        left: 36%;
    }

    .Lead-generators-med {
        left: 50%;
    }

    .How-GB-changes-the-m {
        margin: 63px 35% 27px 35%;
    }

    .-Patients-call-the {
        width: 50%;
        margin-left: 25%;
    }

    .RM-line {
        width: 50px;
    }

    .RM-circle {
        margin-left: 45px;
    }

    .Seed-1M {
        left: 2%;
    }

    .Growing-Break-even {
        left: 20%;
    }

    .RM-line-vertical-3 {
        height: 10px;
        top: 13px;
    }

    .Follow-up-500K {
        left: 10%;
    }

    .The-integration-year {
        left: 27%;
    }

    .Pre-ICO-500K {
        left: 36%;
    }

    .RM-line-vertical-5 {
        height: 58px;
        top: -32px;
    }

    .ICO-14M {
        left: 44%;
    }

    .ICO-35M {
        left: 52%;
    }

    .ICO-6M {
        left: 60%;
    }

    .ICO-10M {
        left: 68%;
    }

    .RM-line-vertical-9 {
        height: 83px;
        top: -56px;
    }
}

@media only screen and (max-width: 786px) {
    .top-right-menu {
        display: none;
    }

    .fa-bars-custom {
        display: inline-block;
        position: absolute;
        right: 35px;
    }

    .Connecting-patients {
        font-size: 24px;
    }

    .GB---the-novel-block {
        font-size: 15px;
    }

    .Be-part-of-the-innov {
        margin-left: 0;
    }

    .email::-webkit-input-placeholder {
        font-size: 18px;
    }

    .email::-moz-placeholder {
        font-size: 18px;
    }

    .email:-ms-input-placeholder {
        font-size: 18px;
    }

    .email:-moz-placeholder {
        font-size: 18px;
    }

    .header-text {
        display: block;
        margin: 120px auto;
    }

    header {
        height: auto;
        position: static;
    }

    .register-button-bottom {
        display: block;
    }

    .Page-1 {
        display: inline-block;
    }

    .Communication-betwee {
        font-size: 22px;
    }

    .Communication-betwee p {
        width: 93.4%;
        margin-left: 0;
        padding-left: 20%;
        padding-right: 20%;
    }

    .Billions-of-patients {
        height: auto;
        margin-left: 5.6%;
        width: 88.6%;
    }

    .Billions-of-patients p {
        width: auto;
        margin-left: auto;
        margin-top: 50px;
        font-size: 16px;
    }

    .Page-5 {
        position: relative;
    }

    .Page-2 {
        margin-top: -112px;
    }

    .Patients-Need-to {
        margin-top: 150px;
    }

    .page-2-paragraph {
        width: 70%;
        margin-left: 15%;
    }

    .Blockchain-powered-e ul {
        width: 70%;
        margin-left: 10%;
    }

    .Group-16 {
        width: 90%;
        height: auto;
    }

    .Page-3 {
        overflow: hidden;
    }

    .How-GB-changes-the-m {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .page-4-paragraph-1-button-full {
        margin-left: 5.5%;
    }

    .page-4-paragraph-1-button-left {
        background-repeat: no-repeat;
        width: 50%;
        height: inherit;
        background-size: contain;
    }

    .-Patients-call-the {
        width: 88.6%;
        margin-left: 0;
    }

    .-Patients-call-the li {
        margin-bottom: 42px;
    }

    .Page-4 {
        height: 1100px;
    }

    .Group-7 {
        width: 86.6%;
        margin: 0 5.5%;
    }

    .-Patients-call-the {
        margin-bottom: 70px;
    }

    .Clinics {
        left: 8%;
    }

    .Patients {
        left: 80%;
    }

    .MIS {
        left: 24.5%;
    }

    .Page-5 {
        height: 1500px;
    }

    .RM-line-vertical {
        display: none;
    }

    .roadmap-graphic {
        margin-top: 30px;
    }

    .RM-circle {
        display: block;
    }

    .RM-line {
        display: block;
        width: 3px;
        height: 120px;
        top: -1.5px;
        margin-left: 59px;
        position: relative;
    }

    .RM-line-9 {
        display: none;
    }

    .Roadmap {
        padding-left: 8.6%;
    }

    .roadmap-text {
        width: 228px;
    }

    .Seed-1M {
        top: 0;
        left: 20%;
    }

    .roadmap-text-2 {
        top: 150px;
        left: 20%;
    }

    .roadmap-text-3 {
        left: 20%;
        top: 300px;
    }

    .roadmap-text-4 {
        left: 20%;
        top: 450px;
    }

    .roadmap-text-5 {
        left: 20%;
        top: 600px;
    }

    .roadmap-text-6 {
        left: 20%;
        top: 750px;
    }

    .roadmap-text-7 {
        left: 20%;
        top: 900px;
    }

    .roadmap-text-8 {
        left: 20%;
        top: 1050px;
    }

    .roadmap-text-9 {
        left: 20%;
        top: 1200px;
    }

    .crewman-full {
        width: 114px;
        height: auto;
    }

    .crewman-img {
        width: 68px;
        height: 68px;
        margin-left: 20%;
    }

    .data-crewman {
        width: inherit;
    }

    .data-crewman p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 650px) {
    .page-3_paragraph_2 {
        width: 350px;
    }

    .page-3_paragraph_2 p {
        font-size: calc(100% - 6px);
    }

    .Patients-use-health {
        left: 121px;
        top: 10px;
    }

    .Patients-Copy {
        top: 30%;
        left: 227px;
    }

    .Medical-Apps-IoT-Copy {
        width: 105px;
        top: 111px;
        left: 50px;
    }

    .Medical-data-lake {
        top: 46%;
        left: 130px;
    }

    .Researches-and-pharm {
        top: 35%;
        left: -29px;
    }

    .Pharma-companies-Res-Copy {
        width: 84px;
        top: 65%;
        left: 21px;
    }

    .Insurance-companies {
        width: 117px;
        top: 84%;
        left: 33px;
    }

    .HMO-Insurance-comp-Copy {
        left: 126px;
    }

    .Blockchain {
        top: 69%;
        left: 136px;
    }

    .Doctors-Clinics-Hos-Copy {
        left: 240px;
    }

    .Clinics-smoothly-exc {
        width: 99px;
        top: 81%;
        left: 256px;
    }

    .Patients-instantly-s {
        left: 310px;
        top: 146px;
    }

}

@media only screen and (max-width: 480px) {
    .GB {
        margin-left: 5%;
    }

    .fa-bars-custom {
        position: absolute;
        right: 16px;
    }

    .header-text {
        width: 100%;
        margin-left: 0;
        margin-bottom: 53px;
    }

    .header-text-cont {
        width: 90%;
        margin-left: 5%;
    }

    .GB---the-novel-block {
        margin-bottom: 59px;
    }

    .Rectangle-email {
        width: 310px !important;
        height: 40px !important;
        margin-bottom: 13px !important;
    }

    .email::-webkit-input-placeholder {
        padding-left: 0;
    }

    .email::-moz-placeholder {
        padding-left: 0;
    }

    .email:-ms-input-placeholder {
        padding-left: 0;
    }

    .email:-moz-placeholder {
        padding-left: 0;
    }

    .send-button {
        width: 310px !important;
        height: 40px !important;
    }

    .email {
        width: 100%;
        height: 38px;
        text-align: center;
        position: static;
    }

    .send-button {
        width: 310px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        display: block;
        background: url('img/rectangle-17.svg') no-repeat;
        background-size: contain;
    }

    .Get-Started {
        display: none;
    }

    .Rectangle-email > img {
        width: 310px;
        height: 40px;
    }

    .Communication-betwee p {
        padding-left: 0;
        padding-right: 0;
    }

    .Billions-of-patients p {
        margin-top: 25px;
    }

    .Page-2 {
        margin-top: -130px;
    }

    .page-2-paragraph p {
        margin-bottom: 10px;
    }

    .the-solution-the {
        display: none;
    }

    .Blockchain-powered-e {
        text-align: left;
    }

    .Blockchain-powered-e ul {
        margin-left: 0;
    }

    .page-4-paragraph-1-button-full {
        margin-left: auto;
        margin-right: auto;
    }

    .page-4-paragraph-1-button-left {
        background-size: cover;
    }

    .Page-4 {
        height: 1150px;
    }

    .Page-4 > div {
        text-align: center;
    }

    .page-4-paragraph-2 p {
        font-size: 10px;
    }

    .Group-7 {
        margin-top: 100px;
        width: 300px;
    }

    .Patients {
        top: 64%;
        left: 80%;
    }

    .Clinics {
        top: 64%;
        left: 8%;
    }

    .Lead-generators-med {
        width: 150px;
        top: 88%;
        left: 41%;
    }

    .MIS {
        left: 23%;
        top: 91%;
    }

    .roadmap-graphic {
        margin-left: -10%;
    }

    .roadmap-text {
        left: 17% !IMPORTANT;
    }

}